
.container {
  width: 700px;
  margin:auto;
}
header {
  // width: 100%;
  background-color: #428BCA;
  color: white;
  h2 {
    padding: 20px;
  }
}
.form {
  // margin: 0 auto;
  border: 1px solid #DEE1E3;
  padding: 15px;

.formText{
  margin-bottom: 10px;
  font-size: 12px;
  position: relative;
  color: gray;



  input {
  }

  textarea {
    margin-left: 20px;
    color: gray;
    width: 600px;
    padding: 17px 5px 4px 30px;
    border: 1px solid gray;

  }
}

.fa {
  position: absolute;
  top: 17px;
  left: 34px;
}
  // .footer {
  //   clear: both;
  // }
}
