
.container {
.myWebApp {
  width: 800px;
  margin: auto;
  border: 1px solid #DEE1E3;

header {
  // width: 100%;
  background-color: #428BCA;
  color: white;
  h2 {
    padding: 20px;
  }
}
.formText{
margin-left: 20px;


  input {
    color: gray;
    width: 650px;
    padding: 10px 3px 10px 30px;
    border: 1px solid gray;
    margin-bottom: 10px;
    font-size: 12px;
  }
}

  // .footer {
  //   clear: both;
  // }
}
}
