

header {
  // width: 100%;
  background-color: #428BCA;
  color: white;
  h2 {
    padding: 20px;
  }
}
.form {
  width: 700px;
  // height: 900px;
  margin: 0 auto;
  border: 1px solid #DEE1E3;
  padding: 15px;
  position: relative;

.formText{
  margin-bottom: 10px;
  font-size: 12px;



  input {
  }

  textarea {
    margin-left: 20px;
    color: gray;
    width: 600px;
    padding: 10px 3px 10px 30px;
    border: 1px solid gray;

  }
}

  // .footer {
  //   clear: both;
  // }
}
